<html>
  <head>{% render 'pagefly-head' %}
    {{ content_for_header }}
    {% comment %} {{ 'theme.css' | asset_url | stylesheet_tag }} {% endcomment %}
    {% comment %} Tailwind CSS Output StyleSheet {% endcomment %}
    {{ 'style.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% section 'announcement-bar' %}
    {% section 'header' %}

    <main id="main" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    {% comment %} {{ 'theme.js' | asset_url  }} {% endcomment %}

  </body>
</html>