{% comment %}
  <section class="Deal-Of-the-Month">
    <div class="">
      {%- if section.settings.text != blank -%}
        <h1>THE RESOLUTIONS STARTER PACK</h1>
      {%- else -%}
        <h1>{{ block.settings.text | escape }}</h1>
      {%- endif -%}

      {%- if section.settings.text2 != blank -%}
        <p>
          Go for all your fitness goals with a curated collection of new kicks breathable apparel, and more supportive
          styles
        </p>
      {%- else -%}
        <p>
          {{ block.settings.text2 | escape }}
        </p>
      {%- endif -%}

      <button>Shop</button>
    </div>
  </section>
{% endcomment %}

{% comment %}
  <style>
    .more-info {
      background: {{ section.settings.background }}
      ;
      color: {{ section.settings.text_color }}
      ;
      display: flex;
      justify-content: center;
    }

     .more-info-wrapper{
        display: flex;
        flex-direction: column;
        width: 500px;
        justify-content: center;
        align-items: center;
     }

     .more-info-wrapper h1 {
        font-size: 50px;

     }

     .more-info-wrapper button {
        padding: 10px 20px 10px 20px;
        background-color: black;
        border: none;
        color: white;
        border-radius: 20px;
        cursor: pointer;
     }

     .more-info-wrapper button:hover {
        background-color: rgb(185, 185, 185);

     }
  </style>
{% endcomment %}
{% comment %}
  {% schema %}
  {
    "name": "Deal-Of-the-Month",
    "settings": [
      {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "#F4F4F4"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text",
        "default": "#000000"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "default text"
      },
      {
        "type": "text",
        "id": "text2",
        "label": "Text2",
        "default": "default text"
      }
    ],
    "presets": [
      {
        "name": "Deal-Of-the-Month"
      }
    ]
  }
  {% endschema %}
{% endcomment %}

<section class=" bg-secondary dark:bg-darkBg py-6 md:py-10">
  <div class="relative max-w-screen-lg mx-auto font-Montserrat space-y-10 p-5">
    <div  class="headline text-2xl md:text-4xl capitalize font-semibold dark:text-white">Deal Of the Month</div>
    <div class="overflow-x-auto flex items-center gap-6 py-8">
      <div class="cardAnimation">
        {% comment %} Tag {% endcomment %}
        <div class="rounded-2xl bg-info text-white px-4 py-2 capitalize w-max font-semibold h-16 ms-1.5">
          lowest price
        </div>
        {% comment %} Card {% endcomment %}
        <div class="w-full min-w-max bg-white dark:!bg-black border border-gray-200 dark:!border-primary shadow-md  rounded-3xl p-2 -mt-8">
          <a href="#">
            <img
              class="p-8 h-64 w-full"
              width="100%"
              height="100%"
              src="{{'powder-2.png' | asset_url}}"
              alt="product img"
            >
          </a>
          <div class="px-5 pb-5 space-y-3">
            <div class="flex gap-4 items-center mt-2.5 mb-5">
              <div class="bg-blue-100 px-3.5 py-1 rounded dark:bg-black/50 dark:text-blue-800">
                <i class="fa-solid fa-dumbbell text-xs text-black dark:text-black"></i>
              </div>
              <h3 class="text-base dark:text-white">Gainers</h3>
            </div>
            <a href="#">
              <h5 class="text-xl font-medium tracking-tight text-gray-900 dark:text-white">Dymatize Iso 100</h5>
            </a>
            <div class="flex items-center gap-5">
              <span class="text-xl font-normal text-gray-900 dark:text-white ">
                <i class="fa-solid fa-indian-rupee-sign text-black text-xl dark:text-white -mt-1"></i>
                599
              </span>
              <span class="text-xl text-gray-600 dark:text-gray-600 line-through">
                <i
                  class="fa-solid fa-indian-rupee-sign text-gray-600 text-xl dark:text-gray-600 -mt-1 line-through"
                ></i>
                599
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="cardAnimation">
        {% comment %} Tag {% endcomment %}
        <div class="rounded-2xl bg-info text-white px-4 py-2 capitalize w-max font-semibold h-16 ms-1.5">
          lowest price
        </div>
        {% comment %} Card {% endcomment %}
        <div class="w-full min-w-max bg-white dark:!bg-black border border-gray-200 dark:!border-primary shadow-md  rounded-3xl p-2 -mt-8">
          <a href="#">
            <img
              class="p-8 h-64 w-full"
              width="100%"
              height="100%"
              src="{{'powder-2.png' | asset_url}}"
              alt="product img"
            >
          </a>
          <div class="px-5 pb-5 space-y-3">
            <div class="flex gap-4 items-center mt-2.5 mb-5">
              <div class="bg-blue-100 px-3.5 py-1 rounded dark:bg-black/50 dark:text-blue-800">
                <i class="fa-solid fa-dumbbell text-xs text-black dark:text-black"></i>
              </div>
              <h3 class="text-base dark:text-white">Gainers</h3>
            </div>
            <a href="#">
              <h5 class="text-xl font-medium tracking-tight text-gray-900 dark:text-white">Dymatize Iso 100</h5>
            </a>
            <div class="flex items-center gap-5">
              <span class="text-xl font-normal text-gray-900 dark:text-white ">
                <i class="fa-solid fa-indian-rupee-sign text-black text-xl dark:text-white -mt-1"></i>
                599
              </span>
              <span class="text-xl text-gray-600 dark:text-gray-600 line-through">
                <i
                  class="fa-solid fa-indian-rupee-sign text-gray-600 text-xl dark:text-gray-600 -mt-1 line-through"
                ></i>
                599
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="cardAnimation">
        {% comment %} Tag {% endcomment %}
        <div class="rounded-2xl bg-info text-white px-4 py-2 capitalize w-max font-semibold h-16 ms-1.5">
          lowest price
        </div>
        {% comment %} Card {% endcomment %}
        <div class="w-full min-w-max bg-white dark:!bg-black border border-gray-200 dark:!border-primary shadow-md  rounded-3xl p-2 -mt-8">
          <a href="#">
            <img
              class="p-8 h-64 w-full"
              width="100%"
              height="100%"
              src="{{'powder-2.png' | asset_url}}"
              alt="product img"
            >
          </a>
          <div class="px-5 pb-5 space-y-3">
            <div class="flex gap-4 items-center mt-2.5 mb-5">
              <div class="bg-blue-100 px-3.5 py-1 rounded dark:bg-black/50 dark:text-blue-800">
                <i class="fa-solid fa-dumbbell text-xs text-black dark:text-black"></i>
              </div>
              <h3 class="text-base dark:text-white">Gainers</h3>
            </div>
            <a href="#">
              <h5 class="text-xl font-medium tracking-tight text-gray-900 dark:text-white">Dymatize Iso 100</h5>
            </a>
            <div class="flex items-center gap-5">
              <span class="text-xl font-normal text-gray-900 dark:text-white ">
                <i class="fa-solid fa-indian-rupee-sign text-black text-xl dark:text-white -mt-1"></i>
                599
              </span>
              <span class="text-xl text-gray-600 dark:text-gray-600 line-through">
                <i
                  class="fa-solid fa-indian-rupee-sign text-gray-600 text-xl dark:text-gray-600 -mt-1 line-through"
                ></i>
                599
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="cardAnimation">
        {% comment %} Tag {% endcomment %}
        <div class="rounded-2xl bg-info text-white px-4 py-2 capitalize w-max font-semibold h-16 ms-1.5">
          lowest price
        </div>
        {% comment %} Card {% endcomment %}
        <div class="w-full min-w-max bg-white dark:!bg-black border border-gray-200 dark:!border-primary shadow-md  rounded-3xl p-2 -mt-8">
          <a href="#">
            <img
              class="p-8 h-64 w-full"
              width="100%"
              height="100%"
              src="{{'powder-2.png' | asset_url}}"
              alt="product img"
            >
          </a>
          <div class="px-5 pb-5 space-y-3">
            <div class="flex gap-4 items-center mt-2.5 mb-5">
              <div class="bg-blue-100 px-3.5 py-1 rounded dark:bg-black/50 dark:text-blue-800">
                <i class="fa-solid fa-dumbbell text-xs text-black dark:text-black"></i>
              </div>
              <h3 class="text-base dark:text-white">Gainers</h3>
            </div>
            <a href="#">
              <h5 class="text-xl font-medium tracking-tight text-gray-900 dark:text-white">Dymatize Iso 100</h5>
            </a>
            <div class="flex items-center gap-5">
              <span class="text-xl font-normal text-gray-900 dark:text-white ">
                <i class="fa-solid fa-indian-rupee-sign text-black text-xl dark:text-white -mt-1"></i>
                599
              </span>
              <span class="text-xl text-gray-600 dark:text-gray-600 line-through">
                <i
                  class="fa-solid fa-indian-rupee-sign text-gray-600 text-xl dark:text-gray-600 -mt-1 line-through"
                ></i>
                599
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  {% render 'trending-in-DN' %}
  {% render 'trending-in-ES' %}
  {% render 'trending-in-PS' %}
</section>

{% comment %} <script>

</script>  {% endcomment %}